.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container-right {
    border-radius: 5px;
    background-color: transparent;
    max-width: 617px;

    .checkbox-and-privacyagreement {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 12px;
      margin-bottom: 16px;
      background: transparent;


    }

    .span-button-container {
      display: flex;
      flex-direction: column;
      background: transparent;

    }


    .checkbox-container {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
      height: 25px;
      background: transparent;

      img {
        &:hover {
          cursor: pointer;
        }

        background: transparent;
      }

      p {
        color: #fff;
        font-size: 14px !important;
        background: transparent;

        a {
          color: #9747FF;
          text-decoration: none;
          cursor: pointer;
          background: transparent;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: transparent;


  }

  .span-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;

    button {
      width: 253px;
      height: 58px;
      padding: 15px 30px;
      gap: 10px;
      border-radius: 10px;
      border: none;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      background: transparent;

    }
  }


  .contact-title {
    display: flex;
    gap: 32px;
    padding-top: 170px;
    margin-bottom: 32px;
    z-index: 10;
    max-width: 1240px;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .horizontal-line {
      border-top: 4px solid rgba(151, 71, 255, 1);
      height: 0;

      &.left-line {
        width: 535px;
      }
    }

    .contact-text {
      text-align: center;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    max-width: 1240px;
    width: 100%;
    position: relative;
    z-index: 100;
    background: transparent;

    .input-container-error-message {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 5px;
      height: 72px;
      margin-bottom: 10px;
      background: transparent;

    }

    .name-input-container-error-message {
      @extend .input-container-error-message;

      .error-message.min-length {
        display: block;
        background: transparent;

      }
    }

    .textarea-container-error-message {
      display: flex;
      flex-direction: column;
      height: 231px;
      background: transparent;

    }

    .message-textarea-container-error-message {
      @extend .textarea-container-error-message;

      .error-message.min-length {
        display: block;
        background: transparent;

      }

    }
  }

  .container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    max-width: 474px;
    gap: 24px;
    background: transparent;

    h2 {
      color: #fff;
    }

    .details-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: left;
      gap: 16px;
      background: transparent;

    }
  }





  .input-container,
  .textarea-container {
    position: relative;
    display: block;
    width: 617px;
    background: transparent;

    input,
    textarea {
      width: 100%;
      padding: 15px 25px;
      border-radius: 10px;
      box-sizing: border-box;
      color: #fff;
      border: 1px solid rgba(151, 71, 255, 1);
      background-color: rgba(20, 29, 47, 1);

      &::placeholder {
        color: #fff;
      }


      &.valid {
        border: 1px solid rgba(112, 230, 28, 1);
      }

      &.invalid {
        border: 1px solid rgba(230, 28, 64, 1);
      }


      &:hover,
      &:focus,
      &:active {
        border: 1px solid rgba(112, 230, 28, 1);
      }

    }

    img {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  input[type="text"],
  input[type="email"] {
    height: 50px
  }

  .textarea-container {

    textarea {
      height: 202px;
    }

    img {
      top: 14% !important;
    }
  }

  .error-message {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    color: rgba(230, 28, 64, 1);
    display: block;
    background: transparent;
    span{
      background: transparent;
    }
  }



  .confirmation-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);

    .confirmation-content {
      border: 4px solid rgb(112, 230, 28);
      padding: 20px;
      border-radius: 5px;
      text-align: center;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      gap: 20px;
      animation: slideIn 1s ease-in-out;

      h2 {
        color: #70E61C;
      }


    }
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    50% {
      transform: translateX(0);
      opacity: 1;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .go-up {
    display: flex;
    max-width: 1240px;
    justify-content: end;
    width: 100%;
    margin-top: 50px;

    img {
      cursor: pointer;
    }
  }
}

@media (max-width:1440px) {
  .contact-container {
    .contact-title {
      max-width: 1440px;

    }

    .contact-form {
      justify-content: center;
      max-width: 1240px;

    }
  }
  .go-up {
    margin-right: 100px;
  }
}

@media (max-width:1160px) {
  .contact-container {
    .contact-title {
      .horizontal-line {
        &.left-line {
          width: 30%;
        }
      }
    }

   

    .contact-form {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin: 0 30px;
    }

    .container-left {
      flex-direction: column;
      align-items: flex-start;
      max-width: 617px;

      gap: 24px;

      .details-container {

        align-items: flex-start;
        gap: 16px;

        p {
          text-align: flex-start;
        }
      }
    }

  }
  .go-up {
    margin-right: 100px;
  }
}

@media (max-width:790px) {
  .contact-container {
    .contact-title {
      .horizontal-line {
        &.left-line {
          width: 20%;
        }
      }
    }
    .container-right {
      max-width: 400px;
    }

    .input-container,
    .textarea-container {
      width: 400px;
    }

    .container-left {
      max-width: 400px;
    }
  }
  .go-up {
    margin-right: 100px;
  }
}

@media (max-width:560px) {
  .contact-container {
    .contact-title {
    padding-top: 100px;
      .horizontal-line {
        &.left-line {
          width: 20%;
        }
      }
    }
    .container-right {
      max-width: 280px;
    }

    .input-container,
    .textarea-container {
      width: 280px;
    }

    .container-left {
      max-width: 280px;
    }
  }
  .go-up {
    margin-right: 25px;
  }
}