// input[type=text], select, textarea {
//     width: 100%; /* Full width */
//     padding: 12px; /* Some padding */ 
//     border: 1px solid #ccc; /* Gray border */
//     border-radius: 4px; /* Rounded borders */
//     box-sizing: border-box; /* Make sure that padding and width stays in place */
//     margin-top: 6px; /* Add a top margin */
//     margin-bottom: 16px; /* Bottom margin */
//     resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
//   }

//   /* Style the submit button with a specific background color etc */
//   input[type=submit] {
//     background-color: #04AA6D;
//     color: white;
//     padding: 12px 20px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//   }

//   /* When moving the mouse over the submit button, add a darker green color */
//   input[type=submit]:hover {
//     background-color: #45a049;
//   }

/* Add a background color and some padding around the form */
.container-right {
  border-radius: 5px;
  background-color: transparent;
  max-width: 617px;

  .checkbox-and-privacyagreement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 16px;

    .span-button-container {
      display: flex;
      flex-direction: column;
    }

    
    .checkbox-container {
      display: flex;
      gap: 8px;

      img {
        &:hover {
          cursor: pointer;
        }
      }

      p {
        color: #fff;

        a {
          color: #9747FF;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;


  }


}

.span-button-container{
  display: flex;
  justify-content: center;
  button {
    width: 253px;
    height: 58px;
    padding: 15px 30px;
    gap: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
  }
}


.contact-title {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 170px;
  margin-bottom: 32px;
  z-index: 10;

  .horizontal-line {
    border-top: 4px solid rgba(151, 71, 255, 1);
    height: 0;

    &.left-line {
      width: 535px;
    }
  }

  .contact-text {
    text-align: center;
  }
}

.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 0 100px;
  height: 508px;

}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  max-width: 474px;
  gap: 24px;

  h2 {
    color: #fff;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 16px;
  }
}

.textarea-container-error-message {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  height: 220px;
}

.input-container-error-message {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  height: 72px;
  margin-bottom: 10px;
}

.input-container,
.textarea-container {
  position: relative;
  display: block;
  background: rgba(20, 29, 47, 1);
  width: 617px;

  input,
  textarea {
    width: 100%;
    padding: 15px 25px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    border: 1px solid rgba(151, 71, 255, 1);
    background-color: rgba(20, 29, 47, 1);

    &::placeholder {
      color: #fff;
    }


    &.valid {
      border: 1px solid rgba(112, 230, 28, 1);
    }

    &.invalid {
      border: 1px solid rgba(230, 28, 64, 1);
    }


    &:hover,
    &:focus {
      border: 1px solid rgba(112, 230, 28, 1);
    }

  }

  img {
    /* For validation icons */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

input[type="text"],
input[type="email"] {
  height: 50px
}

.textarea-container {

  textarea {
    height: 202px;
  }

  img {
    top: 14% !important;
  }
}

.error-message {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: rgba(230, 28, 64, 1);
  display: block;
}

.go-up {
  display: flex;
  margin-right: 100px;
  margin-top: 50px;
  justify-content: flex-end;

  img {
    cursor: pointer;
  }
}