<header>
  <a href="index.html"><svg width="200" height="30" >
    <text  x="2" y="20" fill="#fff" font-size="22" >i</text>
    <text x="10" y="20" fill="#fff" font-size="18">s</text>
    <circle cx="5.1" cy="4.7" r="2.3" fill="rgba(151, 71, 255, 1)"></circle>
    <text x="20" y="20" fill="#fff" font-size="18">m</text>
    <text x="40" y="20" fill="#fff" font-size="18">a</text>
    <text x="54" y="20" fill="rgba(112, 230, 28, 1)" font-size="18">i</text>
    <text x="62" y="20" fill="#fff" font-size="18">l</text>


  </svg> </a>
  <nav>
    <a href="#about-me" (click)="scrollToSection('about-me')">About Me</a>
    <a href="#skills" (click)="scrollToSection('skills')">Skills</a>
    <a href="#portfolio" (click)="scrollToSection('portfolio')">Portfolio</a>
    <a href="#contact" (click)="scrollToSection('contact')">Contact</a>
  </nav>
</header>


