<header>
  <div class="header-container">
    <a routerLink="/">
      <div class="logo">
        <p class="logo-letter" style="color: #fff;">i</p>
        <p class="logo-letter" style="color: #fff;">s</p>
        <div class="logo-circle" style="background-color: rgba(151, 71, 255, 1);"></div>
        <p class="logo-letter" style="color: #fff;">m</p>
        <p class="logo-letter" style="color: #fff;">a</p>
        <p class="logo-letter" style="color: rgba(112, 230, 28, 1);">i</p>
        <p class="logo-letter" style="color: #fff;">l</p>
      </div>
    </a>
    <nav class="main-nav">
      <a routerLink="/" fragment="about-me" (click)="scrollToSection('about-me')">{{ (isGerman$ | async) ? 'Über mich' : 'About Me' }}</a>
      <a routerLink="/" fragment="skills" (click)="scrollToSection('skills')">{{ (isGerman$ | async) ? 'Skills' : 'Skills' }}</a>
      <a routerLink="/" fragment="portfolio" (click)="scrollToSection('portfolio')">{{ (isGerman$ | async) ? 'Portfolio' : 'Portfolio' }}</a>
      <div class="translation-toggle" (click)="toggleTranslation()">
        <div class="slider" [class.active]="(isGerman$ | async)">
          <img [src]="translationIconSrc" alt="Translate" class="thumb">
        </div>
      </div>
    </nav>
 

    <div class="burger-menu-icon" (click)="toggleBurgerMenu()">
      <img [src]="burgerMenuIconSrc" alt="Menu">
    </div>
    <div class="burger-menu" [class.open]="showBurgerMenu">
 <div class="menu-content">
  <nav>
        <a routerLink="/" fragment="about-me" (click)="scrollToSection('about-me'); closeBurgerMenu()">{{ (isGerman$ | async) ? 'Über mich' : 'About Me' }}</a>
        <a routerLink="/" fragment="skills" (click)="scrollToSection('skills'); closeBurgerMenu()">{{ (isGerman$ | async) ? 'Skills' : 'Skills' }}</a>
        <a routerLink="/" fragment="portfolio" (click)="scrollToSection('portfolio'); closeBurgerMenu()">{{ (isGerman$ | async) ? 'Portfolio' : 'Portfolio' }}</a>
        <a routerLink="/" fragment="contact" (click)="scrollToSection('contact'); closeBurgerMenu()">{{ (isGerman$ | async) ? 'Kontakt' : 'Contact' }}</a>
        <div class="translation-toggle" (click)="toggleTranslation(); closeBurgerMenu()">
          <div class="slider" [class.active]="(isGerman$ | async)">
            <img [src]="translationIconSrc" alt="Translate" class="thumb">
          </div>
        </div>
      </nav>
    </div>
    </div>
  </div>
</header>
