header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: max-content;

  .header-container {
    max-width: 1240px;
    width: 100%;
    height: 35px;
    padding: 37px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;

    a {
      cursor: pointer;

      .logo {
        display: inline-block;
        position: relative;
      }

      .logo-letter {
        display: inline-block;
        font-size: 36px;
        margin-right: 2px;
        font-weight: 600;
      }

      .logo-circle {
        display: inherit;
        position: absolute;
        width: 8.6px;
        height: 8px;
        border-radius: 50%;
        top: -8px;
        left: 1px;
      }


    }

    .main-nav {
      max-width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 29px;


      a {
        color: #ffff;
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        text-align: left;
        text-decoration: none;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          transform: translateX(0);
          width: 0;
          height: 2px;
          background-color: rgba(151, 71, 255, 1);
          transition: width 0.3s ease;
        }

        &:hover::before {
          width: 55.5px;
        }

        &.clicked {
          font-size: 23px;
          font-weight: 400;
          line-height: 27.6px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: rgba(112, 230, 28, 1);
        }

        &:hover {
          color: #70e61c;
        }
      }

      .translation-toggle {
        width: 60px;
        height: 30px;
        border-radius: 50px;
        background-color: #fff;
        cursor: pointer;
        position: relative;
        display: inline-block;
        /* Important for positioning */


        .slider {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: background-color 0.3s;
          background-color: white;
          border-radius: 50px;

          &.active {
            background-color: #fff;
            border-radius: 50px;
          }

          .thumb {
            height: 26px;
            width: 26px;
            border-radius: 50px;
            background-color: white;
            position: absolute;
            top: 2px;
            left: 2px;
            transition: transform 0.3s;
          }


          &.active .thumb {
            transform: translateX(30px);
          }


        }
      }
    }

    .burger-menu-icon {
      display: none;
      cursor: pointer;

      img {
        height: 30px;
        width: 30px;
      }
    }

    .burger-menu {
      display: none;
      position: fixed;
      top: 109px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #141d2fe6;
      z-index: 100;
      justify-content: center;
      align-items: center;
      flex-direction: column;


      &.open {
        display: flex;
      }

      .menu-content {
        display: flex;
        flex-direction: column;
        padding: 50px;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        background: transparent;

        nav {
          display: flex;
          flex-direction: column;
          align-items: center;
          background: transparent;
          height: 50vh;
          justify-content: space-between;

          a {
            color: #ffff;
            font-size: 32px;
            font-weight: 400;
            line-height: 27.6px;
            text-align: left;
            text-decoration: none;
            position: relative;
            background: transparent;

            &::before {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 0;
              transform: translateX(0);
              width: 0;
              height: 2px;
              background-color: rgba(151, 71, 255, 1);
              transition: width 0.3s ease;
            }
            &:hover::before {
              width: 55.5px;
            }
            &.clicked {
              font-size: 23px;
              font-weight: 400;
              line-height: 27.6px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: rgba(112, 230, 28, 1);
            }
            &:hover {
              color: #70e61c;
            }
          }
        }
      }

      .translation-toggle {
        width: 60px;
        height: 30px;
        border-radius: 50px;
        background-color: #fff;
        cursor: pointer;
        position: relative;
        display: inline-block;
        .slider {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: background-color 0.3s;
          background-color: white;
          border-radius: 50px;

          &.active {
            background-color: #fff;
            border-radius: 50px;
          }

          .thumb {
            height: 26px;
            width: 26px;
            border-radius: 50px;
            background-color: white;
            position: absolute;
            top: 2px;
            left: 2px;
            transition: transform 0.3s;
          }
          &.active .thumb {
            transform: translateX(30px);
          }
        }
      }
    }
  }
}

@media (max-width:1160px) {
  header {
    .header-container {
      padding: 37px 50px;
    }
  }
}

@media (max-width: 790px) {
  header {
    .header-container {
      .burger-menu {
        transition: transform 0.3s ease-in-out;
        &.open {
          transform: translateX(0%);
        }
      }
      .main-nav {
        display: none;
      }
      .burger-menu-icon {
        display: flex;
        cursor: pointer;
      }
    }
  }
}

@media (max-width:500px) {
  header {
    .header-container {
      padding: 37px 25px;
    }
  }
}