header {
  position: sticky;
  top: 0; 
  z-index: 1000;
  height: 35px;
  padding: 37px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141D2F;

  .header-name {
    margin: 0;
    color: #ffff;
  }

  nav {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 29px;


    a {
      color: #ffff;
      font-size: 23px;
      font-weight: 400;
      line-height: 27.6px;
      text-align: left;
      text-decoration: none;
      position: relative;
      &::before { // Creates the line
          content: "";
          position: absolute;
          bottom: -5px; // Adjust position relative to text
          left: 0;
          transform: translateX(0); // Center the line
          width: 0; // Initially hidden
          height: 2px;
          background-color: rgba(151, 71, 255, 1);
          transition: width 0.3s ease; // Smooth transition effect
        }
    
        &:hover::before {
          width: 55.5px; // Show the line on hover
        }
      &.clicked {
        // Styles for the clicked state
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(112, 230, 28, 1);
      }
      &:hover {
        color: #70e61c;
      }
    }

  }
}