<footer>
  <div class="footer-container">
  <div class="footer-content">
    <div class="footer-left">
      <a href="index.html">
        <div class="logo">
          <p class="logo-letter" style="color: #fff;">i</p>
          <p class="logo-letter" style="color: #fff;">s</p>
          <div class="logo-circle" style="background-color: rgba(151, 71, 255, 1);"></div>
          <p class="logo-letter" style="color: #fff;">m</p>
          <p class="logo-letter" style="color: #fff;">a</p>
          <p class="logo-letter" style="color: rgba(112, 230, 28, 1);">i</p>
          <p class="logo-letter" style="color: #fff;">l</p>
        </div>
      </a>
      <a class="legal-notice" routerLink="/legal-notice">{{ (isGerman$ | async) ? 'Impressum' : 'Legal Notice' }}</a> 
    </div>
    <h3>© Ismail Masmoudi 2025</h3>
    <div class="icons-conatiner">
      <div class="icons">
        <a href="https://github.com/ismailmasmoudi/" target="_blank" rel="noopener noreferrer">
          <img src="img/github.svg" alt="GitHub">
        </a>
        <a href="mailto:ismail.masmoudi7@gmail.com">
          <img src="img/Email-button.svg" alt="Email">
        </a>
        <a href="likedin.com">
          <img src="img/Linkedin-button.svg" alt="LinkedIn"> </a>
      </div>
      <a class="legal-notice-responsive" routerLink="/legal-notice">{{ (isGerman$ | async) ? 'Impressum' : 'Legal Notice' }}</a> 
    </div>
  </div>
</div>
</footer>
<div class="shadow">
  <img src="img/Purple-shadow2.svg" class="purple-shadow" alt="">
</div>