 footer {
     position: relative;
     z-index: 1;
 }

 .shadow {
     position: relative;
     z-index: 0;
 }

 .footer-container {
     border-top: 4px solid rgba(112, 230, 28, 1);
     margin-top: 100px;
     display: flex;
     justify-content: center;

     .footer-content {
         z-index: 1000;
         height: 213px;
         padding: 37px 100px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         background-color: #141D2F;
         max-width: 1240px;
         width: 100%;

         .footer-name {
             margin: 0;
             color: #ffff;
         }

         .footer-left {
             display: flex;
             align-items: flex-start;
             flex-direction: column;
             gap: 10px;
             margin-top: 36px;

             a {
                 cursor: pointer;

                 .logo {
                     display: inline-block;
                     position: relative;
                 }

                 .logo-letter {
                     display: inline-block;
                     font-size: 36px;
                     margin-right: 2px;
                     font-weight: 600;
                 }

                 .logo-circle {
                     display: inherit;
                     position: absolute;
                     width: 8.6px;
                     height: 8px;
                     border-radius: 50%;
                     top: -8px;
                     left: 1px;
                 }


             }

             .legal-notice {
                 color: #ffff;
                 font-size: 16px;
                 font-weight: 400;
                 line-height: 19.2px;
                 text-align: left;
                 text-decoration: none;
                 position: relative;
                 cursor: pointer;
                 margin-left: 2px;

                 &::before {
                     content: "";
                     position: absolute;
                     bottom: -5px;
                     left: 0;
                     transform: translateX(0);
                     width: 0;
                     height: 2px;
                     background-color: #70E61C;
                     transition: width 0.3s ease;
                 }

                 &:hover::before {
                     width: 55.5px;
                 }
             }
         }


         .icons-conatiner {
             .icons {
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 width: 174px;
                 background-color: transparent;
                 cursor: pointer;

                 img {
                     width: 30px;
                     height: 30px;
                     background-color: transparent;
                     transition: all 100ms ease-out;

                     &:hover {
                         width: 40px;
                         height: 40px;
                     }
                 }

                 a {
                     text-decoration: none;
                     background-color: transparent;
                     width: 30px;
                     height: 30px;
                 }
             }

             .legal-notice-responsive {
                 color: #ffff;
                 font-size: 16px;
                 font-weight: 400;
                 line-height: 19.2px;
                 text-align: left;
                 text-decoration: none;
                 position: relative;
                 cursor: pointer;
                 margin-left: 2px;
                 display: none;

                 &::before {
                     content: "";
                     position: absolute;
                     bottom: -5px;
                     left: 0;
                     transform: translateX(0);
                     width: 0;
                     height: 2px;
                     background-color: #70E61C;
                     transition: width 0.3s ease;
                 }

                 &:hover::before {
                     width: 55.5px;
                 }
             }
         }

         h3 {
             color: #ffff;
         }


     }
 }

 .purple-shadow {
     position: absolute;
     bottom: 0;
     left: 0px;
     width: 650px;
     height: 900px;
     background-color: transparent;
     z-index: 0;
 }


 @media (max-width:1160px) {
     .footer-container {
         .footer-content {

             padding: 37px 50px;

         }

     }

     .purple-shadow {
         width: 400px;
         height: 900px;
     }

 }

 @media (max-width:790px) {
     .footer-container {
         .footer-content {
             align-items: center;
             flex-direction: column;
             padding: 37px 25px;

             h3 {
                 font-size: 20px;
             }

             .footer-left {
                 .legal-notice {
                     display: none;
                 }
             }

             .icons-conatiner {
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 height: 72px;
                 justify-content: space-between;

                 .legal-notice-responsive {
                     display: block;
                 }
             }
         }

     }
 }

 @media (max-width:560px) {
     .purple-shadow {
         width: 320px;
         height: 800px;
     }
 }