<footer>
  <div class="footer-container">

    <div class="footer-left">
        <h2 class="footer-name">Ismail</h2>
        <a href="#">Legal Notice</a>

    </div>
    <h3>© Ismail Masmoudi 2025</h3>

        <div class="icons">
          <a href="https://github.com/ismailmasmoudi/" target="_blank" rel="noopener noreferrer">
            <img src="img/github.svg" alt="GitHub">
          </a>
          <a href="mailto:ismail.masmoudi7@gmail.com">
            <img src="img/Email-button.svg" alt="Email">
          </a>
          <a href="likedin.com">
          <img src="img/Linkedin-button.svg" alt="LinkedIn"> </a>
         </div>
  </div>
      
</footer>
<div class="shadow">

  <img src="img/Purple-shadow2.svg" class="purple-shadow" alt="">
</div>
