<main class="main-container">
  <div class="introduction-container" data-aos="fade-right" data-aos-offset="200"  data-aos-duration="300" id="introduction">
    <div class="image-and-introduction-content">
      <div class="image-container">
        <img src="img/photo-shadows.png" alt="background">
        <img src="img/mypicture6.png" alt="my picture">
      </div>
    <div class="introduction-content">
      <div class="title">
        <div class="title-left">
          <p [ngClass]="(isGerman$ | async) ? 'german' : 'english'">{{ (isGerman$ | async) ? 'Ich bin' : 'I am' }}</p>
        </div>
    
        <div class="title-right">
          <p>Ismail Masmoudi</p>
          <p [ngClass]="(isGerman$ | async) ? 'german' : 'english'">{{ (isGerman$ | async) ? 'FRONTEND-ENTWICKLER' : 'FRONTEND DEVELOPER' }}</p>
        </div>
      </div>
      <div class="lets-talk-container">
        <button routerLink="/contact" (click)="scrollToSection('contact')">{{ (isGerman$ | async) ? 'Lass uns reden' : 'Let\'s Talk' }}</button>
      </div>
    </div>
  </div>
  <div class="scroll-indicator">
    <p [ngClass]="(isGerman$ | async) ? 'german' : 'english'">{{ (isGerman$ | async) ? 'Nach unten scrollen' : 'Scroll down' }}</p>
    <img src="img/arrow-down-line.svg" alt="Scroll Down">
  </div>
  <div class="contact-bar">
    <div class="line"></div>
    <div class="icons">
      <a href="https://github.com/ismailmasmoudi/" target="_blank" rel="noopener noreferrer">
        <img src="img/github.svg" alt="GitHub">
      </a>
      <a href="mailto:contact@ismail.masmoudi.com" target="_blank" rel="noopener noreferrer">
        <img src="img/Email-button.svg" alt="Email">
      </a>
      <a href="https://www.linkedin.com/in/ismail-masmoudi/" target="_blank" rel="noopener noreferrer">
      <img src="img/Linkedin-button.svg" alt="LinkedIn">
    </a>
    </div>
    
    <a href="mailto:contact@ismail.masmoudi.com" target="_blank" rel="noopener noreferrer">
      <p class="email">contact&#64;ismail.masmoudi.com</p>
    </a>
  </div>
</div>
</main>

<div class="band" >
  <img data-aos="fade-up" data-aos-offset="100" data-aos-duration="1400" src="img/Vector.png" alt="">
</div>




        