<div class="introduction-container">
    <div class="image-container">
        <img src="img/background-profil-picture.png" alt="background">
        <img src="img/mypicture6.png" alt="my picture">
      </div>
      
    <div class="introduction-content">
        <div class="title">
            <div class="title-left">
                <p>I am</p>
              </div >

                <div class="title-right">
                    <p>Ismail Masmoudi</p>
                    <p>FRONTEND DEVELOPER</p>
                </div>
              </div >
              <button>Let's Talk</button>
        </div>
    </div>

    <div class="band">
        <img src="img/Vector.png" alt="">
    </div>

    <div class="contact-bar">
      <div class="line"></div>
      <div class="icons">
        <a href="https://github.com/ismailmasmoudi/" target="_blank" rel="noopener noreferrer">
          <img src="img/github.png" alt="GitHub">
        </a>
        <a href="mailto:ismail.masmoudi7@gmail.com">
          <img src="img/Email-button.png" alt="Email">
        </a>
        <img src="img/Linkedin-button.png" alt="LinkedIn">  </div>
        <a href="mailto:ismail.masmoudi7@gmail.com"><p class="email">ismail.masmoudi7&#64;gmail.com</p></a>
    </div>

    <div class="scroll-indicator">
      <p>Scroll down</p>
      <img src="img/arrow-down-line.png" alt="Scroll Down">
    </div>
    
    
    


  
