.main-container {
    display: flex;
    justify-content: center;
    position: relative;

    .introduction-container {
        display: flex;
        height: 100%;
        overflow: visible;
        margin-bottom: 200px;
        max-width: 1240px;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
        margin-left: 100px;
        position: relative;
        flex-direction: column;

        .background-profil-picture {
            width: 646px;
            height: 705px;
        }

        .image-and-introduction-content {
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            position: relative;

            .image-container {
                position: relative;

                img:nth-child(1) {
                    display: block;
                    width: 508px;
                    height: 764px;
                    background-color: transparent;
                    padding-left: 100px;
                }

                img:nth-child(2) {
                    position: absolute;
                    top: 30px;
                    left: 0;
                    height: 690px;
                    z-index: 1;
                    display: block;
                    background-color: transparent;

                }
            }

            .introduction-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;
                z-index: 1;
                background: transparent;

                p {
                    margin: 0;
                    background-color: transparent;
                }

                .lets-talk-container {
                    height: 80px;
                    background-color: transparent;

                    button {
                        padding: 15px 30px;
                        border-radius: 10px;
                        background-color: #70E61C;
                        box-shadow: 4px 4px 4px 0px #00000040;
                        color: #fff;
                        border: none;
                        cursor: pointer;
                        opacity: 1;
                        transition: opacity 0.3s ease;
                        font-size: 23px;
                        transition: all 100ms ease-in-out;

                        &:hover {
                            padding: 20px 40px;
                            background-color: rgba(151, 71, 255, 1);
                            color: #fff;
                        }

                        &:active {
                            padding: 15px 30px;
                            color: black;
                            background-color: white;
                        }
                    }
                }

            }

        }


    }

    .title {
        display: flex;
        position: relative;
        align-items: center;
        background-color: transparent;
        gap: 0;


        .title-left {
            background-color: transparent;
            height: 8px;
            width: 62px;


            p {
                transform: rotate(-90deg);
                font-weight: 400;
                line-height: 93.8px;
                color: #FFFFFF;
                white-space: nowrap;

                &.german {
                    font-size: 40px;
                }

                &.english {
                    font-size: 61px;
                }
            }
        }

        .title-right {
            text-align: center;
            background-color: transparent;
            margin-top: 0;

            p:nth-child(1) {
                font-family: Poppins;
                font-size: 65px;
                font-weight: 700;
                line-height: 108px;
                color: #FFFFFF;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            p:nth-child(2) {
                font-weight: 400;
                line-height: 69.6px;
                color: #9747FF;

                &.german {
                    font-size: 50px;
                }

                &.english {
                    font-size: 54px;
                }
            }
        }
    }



    .contact-bar {
        position: absolute;
        top: 750px;
        left: 0px;
        display: flex;
        height: 40px;
        align-items: center;
        gap: 32px;
        background-color: transparent;
        z-index: 1;


        .line {
            width: 100px;
            height: 0px;
            border-top: 4px solid #9747FF;
        }

        .icons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 174px;
            background-color: transparent;
            cursor: pointer;

            img {
                width: 30px;
                height: 30px;
                background-color: transparent;
                transition: all 100ms ease-out;

                &:hover {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        a {
            text-decoration: none;
            background-color: transparent;
            height: 30px;
        }

        .email {
            font-size: 23px;
            font-weight: 400;
            line-height: 27.6px;
            color: white;
            background-color: transparent;
            text-decoration: none;
        }
    }

    .scroll-indicator {
        position: absolute;
        width: 28px;
        height: 160px;
        top: 785px;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 3px;
        background-color: transparent;
        z-index: 10;

        p {
            font-weight: 400;
            line-height: 27.6px;
            color: #FFFFFF;
            background-color: transparent;
            transform: rotate(90deg);
            margin: 0;
            white-space: nowrap;

            &.german {
                font-size: 13px;
            }

            &.english {
                font-size: 23px;
            }
        }

        img {
            width: 24px;
            height: 24px;
            padding: 4px 4.22px;
            background-color: transparent;
        }
    }
}

.band {
    width: 100%;
    background-color: transparent;
    z-index: 0;

    img {
        position: absolute;
        top: 467px;
        left: -2px;
        width: 100%;
        height: 767px;
        display: block;
        background-color: transparent;
    }

}


@media (max-width:1440px) {
    .main-container {
        margin-bottom: 170px;

        .introduction-container {
            margin-right: 100px;
            margin-left: 100px;
            width: 100%;

            .image-and-introduction-content {
                flex-direction: column;

                .image-container {
                    img:nth-child(1) {
                        width: 534px;
                        height: 710px;
                    }

                    img:nth-child(2) {
                        top: 40px;
                        left: 25px;
                    }
                }
            }
        }

        .contact-bar {
            top: 1055px;
            height: 40px;
            left: -100px;

        }

        .scroll-indicator {
            top: 1200px;
            right: 0;
        }
    }
}


@media (max-width:1160px) {
    .main-container {
        .contact-bar {
            gap: 24px;
            width: 100%;

            .email {
                display: none;
            }

            .line {
                width: 43%;
            }

            .icons {
                width: 30%;
            }
        }
    }

    .band {
        img {
            top: 642px;
            height: 283px;
        }
    }
}


@media (max-width:790px) {

    .main-container {
        .introduction-container {
            margin: 0 100px;


            .image-and-introduction-content {
                .image-container {
                    img:nth-child(1) {
                        width: 458px;
                        height: 470px;
                        padding-left: 100px;
                    }

                    img:nth-child(2) {
                        top: 15px;
                        left: 75px;
                        height: 478px;
                    }
                }

                .introduction-content {
                    gap: 12px;

                    .title {
                        .title-left {
                            height: 20px;
                            width: 58px;

                            p {
                                &.english {
                                    font-size: 52px;
                                }

                                &.german {
                                    font-size: 35px;
                                }
                            }
                        }

                        .title-right {
                            p:nth-child(1) {
                                font-size: 40px;
                            }

                            p:nth-child(2) {
                                &.english {
                                    font-size: 33px;
                                }

                                &.german {
                                    font-size: 31px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .contact-bar {
            top: 780px;
            height: 40px;
        }

        .scroll-indicator {
            top: 836px;
            right: 0;
        }
    }


    .band img {
        top: 400px;
        left: -2px;
    }

}




@media (max-width:560px) {

    .main-container {


        .introduction-container {
            margin: 0 20px;


            .image-and-introduction-content {
                .image-container {
                    img:nth-child(1) {
                        width: 320px;
                        height: 350px;
                        padding-left: 45px;
                    }

                    img:nth-child(2) {
                        top: 10px;
                        left: 27px;
                        height: 358px;
                    }
                }

                .introduction-content {
                    gap: 12px;

                    .title {
                        .title-left {
                            height: 30px;
                            width: 58px;

                            p {
                                &.english {
                                    font-size: 48px;
                                }

                                &.german {
                                    font-size: 32px;
                                }
                            }
                        }

                        .title-right {
                            p:nth-child(1) {
                                font-size: 28px;
                            }

                            p:nth-child(2) {
                                &.english {
                                    font-size: 23px;
                                }

                                &.german {
                                    font-size: 21px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .contact-bar {
            top: 650px;
            height: 40px;
            gap: 20px;

            .icons {
                width: 40%;
            }
        }

        .scroll-indicator {
            top: 700px;
            right: 0;
        }
    }



    .band img {
        top: 358px;
        height:207px;
    }

}


// @media (max-width:560px) {
//     .main-container .contact-bar {
//         top: 703px;
//         height: 40px;

//         .line {
//             width: 50px;

//         }

//         .main-container .scroll-indicator {
//             top: 736px;
//             right: 50px;
//         }


//     }

//     .main-container {
//         .introduction-container {

//             .image-and-introduction-content {

//                 .image-container {
//                     img:nth-child(1) {
//                         width: 378px;
//                         height: 414px;
//                     }

//                     img:nth-child(2) {
//                         top: 0px;
//                         width: 400px;
//                         height: 415px;
//                         right: 50px;
//                         left: 50px;
//                     }
//                 }
//             }
//         }

//         .contact-bar {
//             top: 703px;
//             height: 40px;

//             .line {
//                 width: 50px;

//             }
//         }
//         .scroll-indicator {
//             top: 736px;
//             right: 50px;
//         }

//     }
//     .band img {
//         position: absolute;
//         top: 300px;
//         left: -2px;
//         width: 100%;
//         height: auto;
//         display: block;
//         background-color: transparent;
//     }
// }