<div class="introduction-container">
    <div class="image-container">
        <img src="img/background-profil-picture.png" alt="background">
        <img src="img/mypicture3.png" alt="my picture">
      </div>
      
    <div class="introduction-content">
        <div class="title">
            <div class="title-left">
                <p>I am</p>
              </div >

                <div class="title-right">
                    <p>Ismail Masmoudi</p>
                    <p>FRONTEND DEVELOPER</p>
                </div>
              </div >
              <button>Let's Talk</button>
        </div>
    </div>

    <div class="band">
        <img src="img/Vector.png" alt="">
        <div class="empty"></div>
    </div>



  
