<img class="green-shadow" src="img/Green-shadow.png" alt="shadow">

<div class="privacy-policy-container">
    <div class="privacy-policy-title">
        <div class="horizontal-line"></div>
        <h1>Privacy Policy </h1>
    </div>

    <div class="details-container">
        <h2>1. Information on the Collection of Personal Data</h2>
        <p>
            (a) In the following, we inform you about the collection of personal data when using our website. Personal
            data are all data that can be personally related to you, e.g. name, address, email addresses, user
            behaviour.
            (b) Controller pursuant to Art. 4 para. 7 of the EU General Data Protection Regulation (GDPR) is Ismail
            Mohamed Masmoudi, Moosburgerstr 10, 80993 München, Deutschland and ismail.masmoudi&#64;Gmail.com.
        </p>
    </div>

    <div class="details-container">
        <h2>2. Your Rights</h2>
        <p>
            You have the following rights with respect to the personal data concerning you:
        </p>
        <ul>
            <li>Right to access,</li>
            <li>Right to rectification or erasure,</li>
            <li>Right to restriction of processing,</li>
            <li>Right to object to processing,</li>
            <li>Right to data portability.</li>
        </ul>
        <p>You also have the right to lodge a complaint with a supervisory authority concerning the processing of your
            personal data.</p>
    </div>

    <div class="details-container">
        <h2>3. Collection of Personal Data When Visiting Our Website</h2>
        <p>
            If you wish to view our website, we collect the following data, which are technically necessary for us to
            display our website to you and to ensure stability and security (legal basis is Art. 6 para. 1 sentence 1
            lit. f GDPR):
        </p>
        <ul>
            <li>IP address</li>
            <li>Date and time of the request</li>
            <li>Time zone difference to Greenwich Mean Time (GMT)</li>
            <li>Content of the request (specific page)</li>
            <li>Access status/HTTP status code</li>
            <li>Data volume transmitted in each case</li>
            <li>Website from which the request comes</li>
            <li>Browser</li>
            <li>Operating system and its interface</li>
            <li>Language and version of the browser software.</li>
        </ul>
    </div>

    <div class="details-container">
        <h2>4. Contact Form / Email Contact</h2>
        <p>When you contact us by email or via a contact form, the data you provide (your email address, possibly your
            name and telephone number) will be stored by us in order to answer your questions. We delete the data
            arising in this context after storage is no longer necessary, or limit the processing if there are statutory
            retention obligations. </p>
    </div>

    <div class="details-container">
        <h2>5. Hosting</h2>
        <p>We host the contents of our website with the following provider:</p>
        <p>All-Inkl</p>
        <p>The provider is ALL-INKL.COM - Neue Medien Münnich, Owner René Münnich, Hauptstraße 68, 02742 Friedersdorf
            (hereinafter All-Inkl). For details, please see All-Inkl's privacy policy: <a
                href="https://all-inkl.com/datenschutzinformationen/" target="_blank"
                rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a></p>

        <p>The use of All-Inkl is based on Art. 6(1)(f) GDPR. We have a legitimate interest in having our website
            displayed as reliably as possible. If corresponding consent has been requested, the processing is carried
            out exclusively on the basis of Art. 6(1)(a) GDPR and § 25(1) TDDDG, insofar as the consent includes the
            storage of cookies or access to information in the user's end device (e.g., device fingerprinting) within
            the meaning of the TDDDG. The consent can be revoked at any time.</p>

        <p><strong>Order Processing Agreement</strong></p>
        <p>We have concluded an order processing agreement for the use of the above-mentioned service. This is a
            contract required by data protection law, which ensures that they process the personal data of our website
            visitors only according to our instructions and in compliance with the GDPR.</p>
    </div>


    <div class="details-container">
        <h2>6. Plugins and Tools</h2>
        <p><strong>Google Fonts (Local Hosting)</strong></p>
        <p>This site uses so-called Google Fonts provided by Google for the uniform display of fonts. The Google Fonts
            are locally installed. A connection to Google servers does not take place.</p>
        <p>For more information about Google Fonts, please visit <a href="https://developers.google.com/fonts/faq"
                target="_blank" rel="noopener noreferrer">https://developers.google.com/fonts/faq</a> and refer to
            Google's privacy policy: <a href="https://policies.google.com/privacy" target="_blank"
                rel="noopener noreferrer">https://policies.google.com/privacy</a></p>
    </div>


    <div class="details-container">
        <h2>7. Changes to this Privacy Policy</h2>
        <p>We reserve the right to amend this privacy policy at any time. The current version is available on our
            website.</p>
    </div>

</div>