<div class="my-skills-container" id="skills" data-aos="fade-right">
    <div class="second-text-container-with-button-responsive">
        <div class="text-container-without-button-responsive">
            <div class="heading-group" [ngClass]="(isGerman$ | async) ? 'german' : 'english'">
                <h2 class="heading-style">{{ (isGerman$ | async) ? 'auf der Suche nach' : 'Looking for' }}</h2>
                <h2 class="heading-style purple-color">{{ (isGerman$ | async) ? 'einem anderen Skill' : 'another skill' }}</h2>
                <h2 class="heading-style">?</h2>
            </div>
            <p>{{ (isGerman$ | async) ? 'Kontaktieren Sie mich gerne. Ich freue mich darauf, mein bisheriges Wissen zu erweitern.' : 'Feel free to contact me. I look forward to expanding on my previous knowledge.' }}</p>
        </div>
        <div class="get-in-touch-container-responsive">
        <button routerLink="/contact" (click)="scrollToSection('contact')" [ngClass]="(isGerman$ | async) ? 'german' : 'english'">{{ (isGerman$ | async) ? 'Kontaktieren Sie mich' : 'Get in touch' }}</button>
    </div>
</div>
    <div class="images-container">
        <div class="skills-image">
            <img src="img/skills-icons/1html.svg" alt="html">
            <span>HTML</span>
        </div>
        <div class="skills-image">
            <img src="img/skills-icons/2css.svg" alt="css">
            <span>CSS</span>
        </div>
        <div class="skills-image">
            <img src="img/skills-icons/3JavScript.svg" alt="Javascript">
            <span>JavaScript</span>
        </div>
        <div class="skills-image">
            <img src="img/skills-icons/4Typescript.svg" alt="Typescript">
            <span>TypeScript</span>
        </div>
        <div class="skills-image">
            <img src="img/skills-icons/5Angular.svg" alt="Angular">
            <span>Angular</span>
        </div>
        <div class="skills-image">
            <img src="img/skills-icons/6Firebase.svg" alt="Firebase">
            <span>Firebase</span>
        </div>
        <div class="skills-image">
            <img src="img/skills-icons/7Git.svg" alt="git">
            <span>Git</span>
        </div>
        <div class="skills-image">
            <img src="img/skills-icons/8Api.svg" alt="api">
            <span>Rest Api</span>
        </div>
        <div class="skills-image">
            <img src="img/skills-icons/9Scrum.svg" alt="Scrum">
            <span>Scrum</span>
        </div>
        <div class="skills-image">
            <img src="img/skills-icons/10Material-Design.svg" alt="Material-Design">
            <span>Materiel Design</span>
        </div>
        <div class="skills-image" (mouseenter)="onSkillImageHover()" (mouseleave)="onSkillImageLeave()">
            <img #skillImage src="img/skills-icons/11Continually-learning.svg" alt="Continually-learning">
            <span class="purple-color">{{ (isGerman$ | async) ? 'Kontinuierlich lernen' : 'Continually learning' }}</span>
            <div class="hover-content" *ngIf="showHoverContent">
                <img class="background-image" [src]="hoverBackgroundImageUrl" alt="Background">
            </div>
        </div>
        

    </div>
    <div class="skills-description">
        <div class="text-button-container">
            <div class="text-container"  [ngClass]="(isGerman$ | async) ? 'german' : 'english'"> <h1 [ngClass]="(isGerman$ | async) ? 'german' : 'english'">{{ (isGerman$ | async) ? 'Skills' : 'My skills' }}</h1>
                <p>{{ (isGerman$ | async) ? 'Ich habe Erfahrung im Aufbau von Projekten mit verschiedenen Frontend-Technologien und -Konzepten gesammelt.' : 'I have gained experience in building projects with different frontend technologies and concepts.' }}</p>
            </div>
            <div class="second-text-container-with-button">
                <div class="text-container-without-button">
                    <div class="heading-group" [ngClass]="(isGerman$ | async) ? 'german' : 'english'">
                        <h2 class="heading-style">{{ (isGerman$ | async) ? 'Suchen nach' : 'Looking for' }}</h2>
                        <h2 class="heading-style purple-color">{{ (isGerman$ | async) ? 'einer anderen Fähigkeit' : 'another skill' }}</h2>
                        <h2 class="heading-style">?</h2>
                    </div>
                    <p>{{ (isGerman$ | async) ? 'Zögern Sie nicht, mich zu kontaktieren. Ich freue mich darauf, mein bisheriges Wissen zu erweitern.' : 'Feel free to contact me. I look forward to expanding on my previous knowledge.' }}</p>
                </div>
                <div class="get-in-touch-container">
                <button routerLink="/contact" (click)="scrollToSection('contact')" [ngClass]="(isGerman$ | async) ? 'german' : 'english'">{{ (isGerman$ | async) ? 'Kontaktieren Sie mich' : 'Get in touch' }}</button>
            </div>
            </div>
        </div>
        <div class="horizontal-line"></div>
    </div>

<img class="green-shadow" src="img/Green-shadow.png" alt="shadow">


