@import ".../../app/fonts.scss" ;
@import 'aos/dist/aos.css';
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color: #141D2F;
}

::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-track {
  background: #141D2F;
}

::-webkit-scrollbar-thumb {
  background: rgba(151, 71, 255, 1); 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(151, 71, 255, 0.8);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(20, 29, 47, 1) inset !important;
    -webkit-text-fill-color: #fff !important; // Text color for autofilled fields
}


h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin: 0;

}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
}

h3 {
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
}

@media (max-width:1160px){
  h1 {
              font-size: 60px;
          }}
  
  @media (max-width:560px){
  h1 {
              font-size: 45px;
  }
  p {
      font-size: 14px;
  }
  }