@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color: #141D2F;
}

h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin: 0;

}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
}

h3 {
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
}

@media (max-width:1160px){
  h1 {
              font-size: 60px;
          }}
  
  @media (max-width:560px){
  h1 {
              font-size: 45px;
  }
  p {
      font-size: 14px;
  }
  }