.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 100px;

    .portfolio-title {
        display: flex;
        align-items: center;
        gap: 32px;
        justify-content: flex-end;

        .portfolio-text {
            font-size: 90px;
            font-weight: 700;
            line-height: 108px;
            text-align: center;
            color: white; // Or rgba(255, 255, 255, 1)
        }

        .horizontal-line {
            border-top: 4px solid rgba(151, 71, 255, 1);
            height: 0;

            &.right-line {
                width: 507px;
            }

            &.left-line {
                width: 100px;
            }
        }
    }

    .portfolio-text {
        text-align: center;
    }


}

.project-containter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 35px;
    margin-right: 100px;
  
    .project-item {
        display: flex;
        justify-content: space-between;
        gap: 35px;
        height: 339px;
        background-color: transparent;
       
        h3 {
            color: rgba(112, 230, 28, 1);
        }

        h2 {
            color: rgba(151, 71, 255, 1);
        }

        .project-image {
            height: 100%;
            width: 364px;
            padding: 0px 129px;
            z-index: 10;
            background-color: transparent;
        }
        .project-left{
            align-items: flex-end !important;
            p{
                text-align: end;
            }
        }
        .project-details {
            display: flex;
            flex-direction: column;
            gap: 35px;
            justify-content: center;
            max-width: 513px;
            padding-top: 35px;
         
            .project-description {
                display: flex;
                flex-direction: column;
                gap: 15px;
               
            }

            .project-buttons {
                display: flex;
                gap: 86px; // space between buttons

                button {
                    font-size: 23px;
                    font-weight: 400;
                    line-height: 27.6px;
                    color: white;
                    border-radius: 10px;
                    cursor: pointer;

                    &.primary-button {
                        width: 152px;
                        height: 58px;
                        background-color: rgba(151, 71, 255, 1);
                        border: none;
                    }

                    &.secondary-button {
                        padding: 15px 30px;
                        width: 137px;
                        height: 58px;
                        border: 1px solid rgba(112, 230, 28, 1);
                    }


                    &:hover {
                        background-color: rgba(112, 230, 28, 1);
                        color: white; 
                        border: none;
                    }


                    &:active {
                        transition: none; // Remove transition on click for instant effect.
                        background-color: white;
                        color: rgba(112, 230, 28, 1);
                    }
                }
            }
        }
    }
}


.purple-shadow {
    position: absolute;
    top: 3089px;
    left: 0px;
    width: 500px;
    height: 835px;
    background-color: transparent;
    z-index: 1;
}
